<div class="page-header bg-primary" align="center">
		<strong>¡Bienvenido a Hidal-GO!</strong><br>
		¿Sabías que esta plataforma te acompaña en el registro y desarrollo de tu proyecto?
</div>
	
	<div aling="center" padding="10%">
		<div class="col-md-12 col-sm-12 " align="center">
			<div class="row jumbotron">
				<div class="col-md-4 col-sm-4" align="center">
					<p>Título</p>
					<small><em>¿Qué deseas para recaudar dinero?</em></small>
				</div>
				<div class="col-md-4 col-sm-4 row input-group">
					 <span class="input-group-addon glyphicon glyphicon-bullhorn" id="basic-addon1"></span>
					<input type="text" class="form-control" placeholder="¿Cómo se llama tu proyecto?">
				</div>
			</div>	
		</div>

		<div class="col-md-12 col-sm-12 " align="center">
			<div class="row jumbotron">
				<div class="col-md-4 col-sm-4" align="center">
					<p>Meta</p>
					<small><em>¿Cuánto necesitas recaudar para fondear tu proyecto?</em></small>
				</div>
				<div class="col-md-4 col-sm-4 row input-group">
					 <span class="input-group-addon glyphicon glyphicon-usd" id="basic-addon2"></span>
					<input type="text" class="form-control" placeholder="¿Cúanto necesitas recaudar?">
					<span class="input-group-addon">.00</span>
				</div>
			</div>	
		</div>
		
		<div class="col-md-12 col-sm-12 " align="center">
			<div class="row jumbotron">
				<div class="col-md-4 col-sm-4" align="center">
					<p>Imagen</p>
					<small><em>Carga una imagen referente al proyecto que llame la atención.</em></small>
				</div>
				<div class="col-md-4 col-sm-4 row input-group">
					 <span class="input-group-addon glyphicon glyphicon-picture" id="basic-addon3"></span>
					<input type="text" class="form-control" placeholder="Carga una imagen llamativa.">
				</div>
			</div>	
		</div>

		<div class="col-md-12 col-sm-12 " align="center">
			<div class="row jumbotron">
				<div class="col-md-4 col-sm-4" align="center">
					<p>Vídeo</p>
					<small><em><strong>(Opcional)</strong><br>Carga una URL de Youtube o Vimeo</em></small>
				</div>
				<div class="col-md-4 col-sm-4 row input-group">
					 <span class="input-group-addon glyphicon glyphicon-film" id="basic-addon3"></span>
					<input type="text" class="form-control" placeholder="Carga una imagen llamativa.">
				</div>
			</div>	
		</div>

		<div class="col-md-12 col-sm-12 " align="center">
			<div class="row jumbotron">
				<div class="col-md-4 col-sm-4" align="center">
					<p>Catégoria</p>
					<small><em>Ayuda a la gente a descubrir tu campaña de recaudación en nuestro sitio.</em></small>
				</div>
				<div class="col-md-4 col-sm-4 row input-group">
					 <span class="input-group-addon glyphicon glyphicon-th-list" id="basic-addon3"></span>
					 <select class="form-control" name="category" form="carform">
  						<option value="Fiesta">Fiestas, eventos y celebraciones.</option>
  						<option value="Comunidades">Comunidades</option>
  						<option value="Deporte">Deporte</option>
  						<option value="Educacion">Educación</option>
  						<option value="Emergencias">Emergencias</option>
  						<option value="Creencias">Creencias/Religión</option>
  						<option value="Medicina">Medicina</option>
  						<option value="Voluntariado">Voluntariado</option>
  						<option value="Otro">Otro</option>
  					</select>
				</div>
			</div>
		</div>

		<div class="col-md-12 col-sm-12 " align="center">
			<div class="row jumbotron">
				<div class="col-md-4 col-sm-4" align="center">
					<p>Ubicación</p>
					<small><em>Obtén servicio técnico de tu comunidad.</em></small>
				</div>
				<div class="col-md-4 col-sm-4 row input-group">
					 <span class="input-group-addon  glyphicon glyphicon-map-marker" id="basic-addon3"></span>
					<input type="text" class="form-control" placeholder="Ingresa tu ciudad">
				</div>
			</div>	
		</div>

		<div class="col-md-12 col-sm-12 " align="center">
			<div class="row jumbotron">
				<div class="col-md-4 col-sm-4" align="center">
					<p>Historia de la recaudación de fondos</p>
					<small><em>
					Cuéntale a la gente por qué estás realizando una campaña de recaudación.Asegúrate de abordar estos tres puntos:
					<ul>
						<li>¿Qué situación te llevó a comenzar una recaudación de fondos?</li>
						<li>¿Cómo te hace sentir esta situación?</li>
						<li>¿Cómo te puede ayudar la gente?</li>
					</ul>
					</em></small>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="input-group-btn">
						<button class="input-group-addon  glyphicon glyphicon-font" id="basic-addon3"></button>
						<button class="input-group-addon  glyphicon glyphicon-bold" id="basic-addon3"></button>
						<button class="input-group-addon  glyphicon glyphicon-italic" id="basic-addon3"></button>
						<button class="input-group-addon  glyphicon glyphicon-text-height" id="basic-addon3"></button>
						<button class="input-group-addon  glyphicon glyphicon-text-width" id="basic-addon3"></button>
					</div>
						<textarea name="historia" id="historia" class="form-control" cols="30" rows="10" placeholder=" Escribe aquí tu historia"></textarea>
				</div>
			</div>	
		</div>
		<div align="center">
			<button type="submit">Guardar proyecto</button>
		</div>
	</div>