<section>
<div id="backk">
<div id="frontt">
	<div class="row" id="container-pro">

		<div class="opacos">
			<div class="col-sm-12 col-md-12">

				<div class="col-md-6 col-md-offset-3">
			<div class="text-center en_medio animated bounceInDown">
				<h1><strong>¡Comparte tu gran idea!</strong></h1>
				<h3>
					Hidalgo-Go! es una plataforma para elaborar y compartir proyectos creativos<br> y sabemos que tu tienes grandes ideas.
				</h3>
			</div><!-- text-center -->
				</div>
				<br><br>

			<div class="container" id="">
			<div class="">
				<div class="col-md-10 col-md-offset-1">
				<form role="form" ng-submit="$ctrl.addProject()" class="animated fadeInRight">


					<div class="form-group">


											<div class="col-xs-6">
											<label><h4>¿Que problematica resuelve?</h4></label>
											<br>
											<input ng-model="$ctrl.prob" maxlength="50" ng-trim="false" required type="text" class="form-control input-lg" id="tituloProyecto" placeholder="Problematica" autofocus ng-model="project.titulo"></input>
										</div>


						<div class="col-xs-6">
						<label><h4>¿Cual es tu gran idea?</h4></label>
						<br>
						<input ng-model="$ctrl.title" maxlength="50" ng-trim="false" required type="text" class="form-control input-lg" id="tituloProyecto" placeholder="Esta es mi gran idea" autofocus ng-model="project.titulo"></input>
						<small class="textt">{{50-$ctrl.title.length}} caracteres máximo</small>
						<br>
						<br>
						</div>


						<div class="row">
						  </div>

						<div class="col-xs-6">
						<label><h4>Municipio</h4></label>
						<br>
						<input ng-model="$ctrl.mun" maxlength="50" ng-trim="false" required type="text" class="form-control input-lg" id="tituloProyecto" placeholder="De que municio eres" autofocus ng-model="project.titulo"></input>
					</div>

				<div class="col-xs-6">
					<label><h4>Selecciona un eje</h4></label>
				<select required ng-model="relacion" class="form-control input-lg">
					<option value="">Selecciona un Eje</option>
					<option value="1.-Gobierno Honesto, Cercano y Moderno">1.-Gobierno Honesto, Cercano y Moderno</option>
					<option value="2.-Hidalgo Próspero y Dinámico">2.-Hidalgo Próspero y Dinámico</option>
					<option value="3.-Hidalgo Humano e Igualitario">3.-Hidalgo Humano e Igualitario</option>
					<option value="4.-Un Hidalgo Seguro con Justicia y en Paz">4.-Un Hidalgo Seguro con Justicia y en Paz</option>
					<option value="5.-Un Hidalgo Con Desarrollo Sustentable">5.-Un Hidalgo Con Desarrollo Sustentable</option>
				</select>
				</div>


					</div> <!-- div form-group -->
<br><br><br><br><br>
<div align="center">
					<input type="Submit" class="btn btn-primary btn-lg" value="Sube tu Proyecto">

					<br>
					<br>
</div>
					<div align="center" class="g-recaptcha" data-sitekey="6LcsCAkUAAAAAKgM9QH_wHM0Ku2MWSdQt2pAvXQp"></div>
				</form> <!-- form -->
				</div>
			</div>
			</div> <!-- div col-sm-12 -->
		</div>
		</div> <!--opcaco-->

	</div> <!--container pro-->
</div>
</div>
</section>
