<section>
    <div class="row text-left" id="container-pro">

        <img class="blur" src="http://cuartopoder.blob.core.windows.net/images/2015/07/11/d2-3.jpg">
        <div class="opacos">
            <div class="col-sm-12 col-md-12">

                <div class="text-center en_medio">

                    <h1>
                        <strong>¡Comparte tu gran idea!</strong>
                    </h1>
                    <h2>
                        Hidalgo-Go! es una plataforma para elaborar y compartir proyectos creativos<br>
                        y sabemos que tu tienes grandes ideas.
                    </h2>

                </div>
                <!-- text-center -->

                <div class="container" id="">
                    <div class="jumbotron hh">

                        <form role="form" ng-submit="$ctrl.add(project)">
                            <div class="form-group">
                                <label>
                                    <h4>¿Cual es tu gran idea?</h4>
                                </label>
                                <br>
                                <input type="text" class="form-control input-lg" id="tituloProyecto" placeholder="Esta es mi gran idea" autofocus ng-model="project.titulo"></input>
                                <small>100 caracteres maximo</small>
                            </div>
                            <!-- div form-group -->
                            <br>
                            <input type="Submit" class="btn btn-primary btn-lg" value="Crear Proyecto">
                        </form>
                        <!-- form -->

                    </div>

                </div>
                <!-- div col-sm-12 -->

            </div>
            <!-- div row -->
        </div>
        <!--opcaco-->
    </div>
    <!--container pro-->

</section>
