<section>
<div id="backk">
<div id="frontt">
	<div class="row" id="container-pro">

		<div class="opacos">
			<div class="col-sm-12 col-md-12">

				<div class="col-md-6 col-md-offset-3">
			<div class="text-center en_medio animated bounceInDown">
				<h1><strong>¡Comparte tu idea!</strong></h1>
				<h3 class="textt">
					Esta plataforma es para elaborar y compartir proyectos creativos y constituir con ellos el Plan Estatal de Desarrollo 2016-2022 
				</h3>
			</div><!-- text-center -->
				</div>
				<br><br>

			<div class="container" id="">
			<div class="">
				<div class="col-md-10 col-md-offset-1">
				<form role="form" ng-submit="$ctrl.addProject()" class="animated fadeInRight">


					<div class="form-group">

						<div class="col-md-6">
							<label><h4 class="textt">¿Cual es tu gran idea?</h4></label>
							<br>
							<input ng-model="$ctrl.title" maxlength="50" ng-trim="false" required type="text" class="form-control input-lg" id="tituloProyecto" placeholder="Esta es mi gran idea" autofocus ng-model="project.titulo"></input>
							<small class="textt">{{50-$ctrl.title.length}} caracteres máximo</small>
							<br>
							<br>
						</div>


						<div class="col-md-6">
							<label><h4 class="textt">¿Que problematica resuelve?</h4></label>
							<br>
							<input ng-model="$ctrl.prob" maxlength="50" ng-trim="false" required type="text" class="form-control input-lg" id="tituloProyecto" placeholder="Problematica" autofocus ng-model="project.titulo"></input>
						</div>





						<div class="row">
						  </div>


				<div class="col-md-6">
					<label><h4 class="textt">¿A que eje pertenece tu proyecto?</h4></label>
				<select required ng-model="$ctrl.eje" class="form-control input-lg">

					<option value="">Selecciona un Eje</option>
					<option value="Gobierno Honesto, Cercano y Moderno">Gobierno Honesto, Cercano y Moderno</option>
					<option value="Hidalgo Próspero y Dinámico">Hidalgo Próspero y Dinámico</option>
					<option value="Hidalgo Humano e Igualitario">Hidalgo Humano e Igualitario</option>
					<option value="Un Hidalgo Seguro con Justicia y en Paz">Un Hidalgo Seguro con Justicia y en Paz</option>
					<option value="Un Hidalgo Con Desarrollo Sustentable">Un Hidalgo Con Desarrollo Sustentable</option>
				</select>
				</div>

						<div class="col-md-6">
								<label>
										<h4 class="textt">¿En qué municipio vives?</h4>
								</label>
								<select ng-model="$ctrl.mun" required class="form-control input-lg">
										<option value="">Selecciona un Municipio</option>
										<option value="1">Acatlán</option>
										<option value="2">Acaxochitlán</option>
										<option value="3">Actopan</option>
										<option value="4">Agua Blanca de Iturbide</option>
										<option value="5">Ajacuba</option>
										<option value="6">Alfajayucan</option>
										<option value="7">Almoloya</option>
										<option value="8">Apan</option>
										<option value="9">Atitalaquia</option>
										<option value="10">Atlapexco</option>
										<option value="11">Atotonilco de Tula</option>
										<option value="12">Atotonilco el Grande</option>
										<option value="13">Calnali</option>
										<option value="14">Cardonal</option>
										<option value="15">Chapantongo</option>
										<option value="16">Chapulhuacán</option>
										<option value="17">Chilcuautla</option>
										<option value="18">Cuautepec de Hinojosa</option>
										<option value="19">El Arenal</option>
										<option value="20">Eloxochitlán</option>
										<option value="21">Emiliano Zapata</option>
										<option value="22">Epazoyucan</option>
										<option value="23">Francisco I. Madero</option>
										<option value="24">Huasca de Ocampo</option>
										<option value="25">Huautla</option>
										<option value="26">Huazalingo</option>
										<option value="27">Huehuetla</option>
										<option value="28">Huejutla de Reyes</option>
										<option value="29">Huichapan</option>
										<option value="30">Ixmiquilpan</option>
										<option value="31">Jacala de Ledezma</option>
										<option value="32">Jaltocán</option>
										<option value="33">Juárez Hidalgo</option>
										<option value="34">La Misión</option>
										<option value="35">Lolotla</option>
										<option value="36">Metepec</option>
										<option value="37">Metztitlán</option>
										<option value="38">Mineral de la Reforma</option>
										<option value="39">Mineral del Chico</option>
										<option value="40">Mineral del Monte</option>
										<option value="41">Mixquiahuala de Juárez</option>
										<option value="42">Molango de Escamilla</option>
										<option value="43">Nicolás Flores</option>
										<option value="44">Nopala de Villagrán</option>
										<option value="45">Omitlán de Juárez</option>
										<option value="46">Pachuca de Soto</option>
										<option value="47">Pacula</option>
										<option value="48">Pisaflores</option>
										<option value="49">Progreso de Obregón</option>
										<option value="50">San Agustín Metzquititlán</option>
										<option value="51">San Agustín Tlaxiaca</option>
										<option value="52">San Bartolo Tutotepec</option>
										<option value="53">San Felipe Orizatlán</option>
										<option value="54">San Salvador</option>
										<option value="55">Santiago de Anaya</option>
										<option value="56">Santiago Tulantepec de Lugo Guerrero</option>
										<option value="57">Singuilucan</option>
										<option value="58">Tasquillo</option>
										<option value="59">Tecozautla</option>
										<option value="60">Tenango de Doria</option>
										<option value="61">Tepeapulco</option>
										<option value="62">Tepehuacán de Guerrero</option>
										<option value="63">Tepeji del Río de Ocampo</option>
										<option value="64">Tepetitlán</option>
										<option value="65">Tetepango</option>
										<option value="66">Tezontepec de Aldama</option>
										<option value="67">Tianguistengo</option>
										<option value="68">Tizayuca</option>
										<option value="69">Tlahuelilpan</option>
										<option value="70">Tlahuiltepa</option>
										<option value="71">Tlanalapa</option>
										<option value="72">Tlanchinol</option>
										<option value="73">Tlaxcoapan</option>
										<option value="74">Tolcayuca</option>
										<option value="75">Tula de Allende</option>
										<option value="76">Tulancingo de Bravo</option>
										<option value="77">Villa de Tezontepec</option>
										<option value="78">Xochiatipan</option>
										<option value="79">Xochicoatlán</option>
										<option value="80">Yahualica</option>
										<option value="81">Zacualtipán de Ángeles</option>
										<option value="82">Zapotlán de Juárez</option>
										<option value="83">Zempoala</option>
										<option value="84">Zimapán</option>

								</select>
								<br>

						</div>

					</div>

				<br><br><br><br><br>
				<div align="center">
									<input type="Submit" class="btn btn-primary btn-lg" value="Sube tu Proyecto">

									<br>
									<br>
				</div>
									<!--<div align="center" class="g-recaptcha" data-sitekey="6LcsCAkUAAAAAKgM9QH_wHM0Ku2MWSdQt2pAvXQp"></div>-->
					</div> <!-- div form-group -->

				</form> <!-- form -->
				</div>
			</div>
			</div> <!-- div col-sm-12 -->
		</div>
		</div> <!--opcaco-->

	</div> <!--container pro-->
</div>
</div>
</section>








<!-- el modal -->

<div class="modal fade" id="badge" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">¡Felicitaciones!</h4>
      </div>
      <div style="text-align:center;" class="modal-body">
      <!-- Share-->
      	





      <!-- Share-->


        <img style="width:200px" src="/assets/images/logoGrande.jpg">
        <div style="color:blue">
            <h2 style="color:green" >¡Gracias!</h2>
            <h3 style="color:red">Tu idea ya está considerada para</h3>
            <h3 style="color:green">El Plan de Desarrollo Estatal</h3>
        </div>
        <h4>Compartelo en tus redes sociales</h4>

        <button id="share_button" class="btn btn-primary">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            Facebook
        </button>
	        
			
			<button  class="modal-dialog modal-lg" class="btn btn-info" data-toggle="modal">
	            <i class="fa fa-twitter" aria-hidden="true"></i>
	            Twitter
	        </button>
	        


        <h5>Ahora completa los detalles de tu proyecto:</h5>
        <button data-dismiss="modal" class="btn btn-default">
            Continuar
        </button>



      </div>




