<section class="container">

<article class="centrado row">

	<div class="well margen-arriba">
		<h1>{{proyecto.title}}</h1>
	</div>

		<img ng-hide="proyecto.imagen" class="img-responsive col-sm-5" src="/assets/images/port.jpg">
		<img ng-show="proyecto.imagen" class="img-responsive col-sm-5 img_proyecto-Catalogo_detalle" ng-src="{{proyecto.imagen}}" alt="imagen de la propuesta">
		<div class="izquierda col-sm-6 col-sm-offset-1">
			<h3>Eje de la Propuesta:</h3>
			<span>
				{{proyecto.eje}}
			</span>
			<h4>Alcance:</h4>
			<span>
				{{proyecto.alcance}}
			</span>
			<h4>Indicador:</h4>
			<span>
				{{proyecto.indicador}}
			</span>

			<br><br>

									<div class="botoncillos">
										<!--<i class="fa fa-heart-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Seguir Proyecto"></i>-->
										<i id="share_button" class="fa fa-facebook" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Comparte en Facebook"></i>
										<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
										<a href="https://twitter.com/intent/tweet?text=Esta idea está genial, checa esta y más ideas del plan estatal de desarrollo.&url=http://planestataldedesarrollo.hidalgo.gob.mx">
											<i class="fa fa-twitter" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Comparte en Twitter"></i>
										</a>

										<i  class="fa fa-link" id="copiar" tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Copiar Link"
										data-content="Tu link a sido copiado">
										</i>

												<script>
										        //Inicio del boton de copia
										        var playButton = $('#copiar');
												  	// Se obtiene el id del boton clicable
										        playButton.click(function(){    // Acá se pone a escucha el evento click para el boton antes definido
										            copyToClipboard();          // Esto llama a la funcion copyToClipboard() (Está mas abajo)
										        });
										        //fin del boton de copia
										        //Funcion copytoClipboard
										        function copyToClipboard() {
										        $("body").append("<input type='text' id='temp'>"); // Acá se crea un input dinamicamente con un id para luego asignarle un valor sombreado
										        $("#temp").val(location.href).select(); // Acá se obtiene el id del boton que hemos creado antes y se le agrega un valor y luego se le sombrea con select(). Para agregar lo que se quiere copiar editas val("EDITAESTOAQUÍ")
										        document.execCommand("copy"); // document.execCommand("copy") manda a copiar el texto seleccionado en el documento
										        $("#temp").remove();
										    }
														$('#copiar').popover()
										    </script>

									</div>

<br>

			<div ng-show="false" class="botoncillos">

			<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>





	</div>



</article>
<br>
<hr>
<div class="well">

			<ul class="nav nav-tabs">
			  <li role="presentation" ng-class="{active: tab==1}"><a href="" ng-click="tab=1">Planteamiento</a></li>
			  <li role="presentation" ng-class="{active: tab==2}"><a href="" ng-click="tab=2">Problematica</a></li>
			  <li role="presentation" ng-class="{active: tab==3}"><a href="" ng-click="tab=3">Objetivo General</a></li>
			  <li role="presentation" ng-class="{active: tab==4}"><a href="" ng-click="tab=4; ">Comentarios</a></li>
			</ul>

		</div>

		<div class="well">
			<div ng-show="tab==1">
				<h5>Planteamiento</h5>
				<p>{{proyecto.planteamiento}}</p>
			</div>
			<div ng-show="tab==2">
				<h5>Situación a resolver</h5>
				<p>{{proyecto.problematica}}</p>
			</div>
			<div ng-show="tab==3">
				<h5>Objetivo General</h5>
				<p>{{proyecto.objetivo_general}}</p>
			</div>
			<div ng-show="tab==4">


				<button ng-click="reloadRoute()">Ver comentarios</button>



				<div id="fb-root"></div>

				<script>
					(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId=694502364033651";
					fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
				</script>

					<div class="fb-comments" data-href="http://planestataldedesarrollo.hidalgo.gob.mx/#/catalogo/{{$ctrl.id}}" data-width="100%" data-numposts="5"></div>
			</div>
		</div>



</section>
