

	
<!-- <div class="container-fluid portada">

		<div class="row text-center">
			<div class="col-md-offset-6 col-md-4 greenBox">
					<h3>¡Comparte tu gran idea!</h3>
			<p style="text-align:center" class="text-justify">Este es el momento de que Hidalgo conosca tus propuestas. </p>
					<a class="btn btnSliderRojo" href="#/project/new">Subir Proyecto</a>				
			</div>			
		</div>	
</div>  -->



<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div> 

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
    <li data-target="#bs-carousel" data-slide-to="3"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
<!--         <hgroup>
            <h1>Seamos parte de la solución</h1>        
            <h3>¡comparte tus ideas!</h3>
        </hgroup> -->
<!--         <a style="color:#000" href="#/project/new" class="btn btn-danger btn-lg" role="button">Sube tu proyecto</a> -->
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero ">        
        <hgroup >
            <h1 class="l-titulo">Si participamos! crecemos todos!</h1>        
            
        </hgroup> 
        <br>
        <br>
        <div> <a  href="#/project/new" class="btn-r btn-verdebandera btn-lg" role="button">Registrate</a></div>      
       
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>

      <div class="hero">        
        <hgroup>
                    
            <h1 class="l-titulo">La innovación esta en tus manos</h1>
        </hgroup>
        <br>
        <br>
        <br>
        <a href="#/project/new" class="btn-r btn-rojoobsuro  btn-lg" role="button">Participa</a>
      </div>
      
    </div>
     <div class="item slides">
      <div class="slide-4"></div>     
      
      <div class="hero">        
        <hgroup>
            <h1 class="l-titulo">Formemos</h1>        
            <h3 class="l-titulo">el Hidalgo que quieres ver.</h3>
        </hgroup>
        <!-- <button class="btn btn-danger btn-lg" role="button"></button> -->
      </div>
    </div>
  </div> 
</div>



<!-- Categorias -->

<article class="container mosaico">
<div class="row">
 				<h1 class="l-titulo" align="center">Ejes</h1> 
 				<hr class="color-hr">		





	<div class="categoria col-md-4 col-xs-6">
		<div class="opaco">
			 <i class="fa fa-mobile" aria-hidden="true"></i> 
			<p class="l-titulo-trans">Visita nuestros ejes</p>
		</div>
	</div>

	<div class="categoria col-md-4 col-xs-6">
		<div class="opaco">
			<i class="fa fa-mobile" aria-hidden="true"></i>
			<p class="l-titulo-trans">Gobierno Honesto, cercano y moderno</p>
		</div>
	</div>



	<div class="categoria col-md-4 col-xs-6" style="background-image: url('https://enfoquecaribe.com/wp-content/uploads/2016/04/FOTO-1-1.jpg');" >
		<div class="opaco">
			<i class="fa fa-heartbeat" aria-hidden="true"></i>
			<p class="l-titulo-trans">Hidalgo Prospero y Dinamico</p>
		</div>
	</div>



	<div class="categoria col-md-4 col-xs-6" style="background-image: url('http://www.definicionabc.com/wp-content/uploads/2015/01/Educacion-Formal.jpg');">
		<div class="opaco">
			<i class="fa fa-graduation-cap" aria-hidden="true"></i>
			<p class="l-titulo-trans">Hidalgo Humano e Igualitario</p>
		</div>
	</div>


	<div class="categoria col-md-4 col-xs-6" style="background-image: url('http://www.adarvemedioambiente.com/wp-content/uploads/2015/07/Adarve-Medio-Ambiente-04.jpg');">
		<div class="opaco">
			<i class="fa fa-leaf" aria-hidden="true"></i>
	
			<p class="l-titulo-trans">Un Hidalgo Seguro con Justicia y en Paz</p>
		</div>
	</div>



	<div class="categoria col-md-4" style="background-image: url('http://www.milenio.com/cultura/concursos-festivales-indigenas-intervencion-espacios_MILIMA20130811_0414_8.jpg');">
		<div class="opaco">
			<i class="fa fa-users" aria-hidden="true"></i>
			<p class="l-titulo-trans">Un Hidalgo con Desarrollo sustentable</p>
		</div>
	</div>



	<!-- <div class="categoria col-md-4" style="background-image: url('http://www.milenio.com/cultura/Hidalgo-El_Vaticano-documental-artesanias-cultura-Pueblo_Magico_MILIMA20140527_0061_11.jpg');">
		<div class="opaco">
			<i class="fa fa-paint-brush" aria-hidden="true"></i>
			<p>Cultura</p>
		</div>
	</div> -->




</div>
</article>

<!-- Categorias fin -->




<!--  <div style="width:100%;min-height:600px;background:url('http://tours.creativamedia.mx/images/slider/02.jpg') center; background-size:cover"></div>  -->



 <div class="container">
 	<div class="row">
		 	<br>
		 	<br>
 		<div class="col-md-12">

 				<h1 class="l-titulo" align="center">Gobierno del Estado de Hidalgo</h1> 
 				<hr class="color-hr">		

 	

 		</div>
 		<div class="col-md-6">

 						<h2 class="l-negro">A todos los hidalguenses</h2>

	 			
			 			<p>Se hace una cordial invitacion a todos los hidalguenses que quieran participar con ideas y propuestas para la elaboracion de Plan de Desarrollo Estatal, ya pueden descargar una constancia de participacion ciudadana.</p>
	 		
 		</div>
 		<div class="col-md-6 text-center img-fill">
 			<img src="/assets/images/imagotipo_oficial_vertical_gob_H.jpg" alt="">
 		</div>
 	</div>
 	
 	

 	
 </div> <!-- end container -->

 <div class="container">
 		<div class="row">
 			<div class="col-md-12 text-center">
		 			<br>
		 			<br>
		 			<br>
         			 <h1 class="l-titulo" align="center">Pasos para publicar tu idea</h1> 
 						<hr class="color-hr">
		 	</div>		

		</div>
 </div>
<div class="container-fluid iconosLanding">


		<div class="container">
 	
	<div class="row text-center ">		 	

		 <div class="col-md-3 hov-c">
		 	<span class="fa-stack fa-4x ">
		 		
		 		<i class="fa fa-circle fa-stack-2x b-i-color"></i>
		 		<i class="fa fa-upload fa-stack-1x i-color "></i>
		 	</span>
 			<!-- <i class="icono fa fa-4x fa-upload"></i> -->
 			<h4>Nombra tu proyecto</h4>
 			<p>Piensa en un nombre que sea original, facil de recordar y que refleje la funcionalidad de tu proyecto</p>
 		</div>

 		<div class="col-md-3 hov-c">
		 	<span class="fa-stack fa-4x">
		 		
		 		<i class="fa fa-circle fa-stack-2x b-i-color"></i>
		 		<i class="fa fa-user fa-stack-1x i-color"></i>
		 	</span>
 			<!-- <i class="icono fa fa-4x fa-upload"></i> -->
 			<h4>Inicia Sesión</h4>
 			<p>Puedes usar alguna de las redes sociales de tu preferencia o simplemete ingresar un correo electronico y una contrasena persdonalizada.</p>
 		</div>

 		<div class="col-md-3 hov-c">
		 	<span class="fa-stack fa-4x ">
		 		
		 		<i class="fa fa-circle fa-stack-2x b-i-color"></i>
		 		<i class="fa fa-file-text-o fa-stack-1x i-color"></i>
		 	</span>
 			<!-- <i class="icono fa fa-4x fa-upload"></i> -->
 			<h4>Complementa tu perfil</h4>
 			<p>Es importante que proporciones todos los datos que se te piden ya que toda la informacion que subas a la plataforma sera validada.</p>
 		</div>

 		<div class="col-md-3 hov-c">
		 	<span class="fa-stack fa-4x">
		 		
		 		<i class="fa fa-circle fa-stack-2x b-i-color"></i>
		 		<i class="fa fa-user-md fa-stack-1x i-color"></i>
		 	</span>
 			<!-- <i class="icono fa fa-4x fa-upload"></i> -->
 			<h4>Envía tu proyecto a revision</h4>
 			<p>Tu proyecto sera evaluado por especialistas y en caso de que sea aprobado seras notificado por medio de la plataforma</p>
 		</div>

 	

 	</div>  <!-- end row-->




 </div> <!-- end container -->
	

	<div class="row">
	 		<div class="col-md-12 text-center parallax-project"> 			
		
				<h2>Comparte tu gran idea <a href="#/project/new" class="btn-r ">Publica tu proyecto</a>
				</h2>

	 		</div>
	 	</div>
</div> <!-- end container fluid -->
 

 <div class="container-fluid">
 	
 	
 </div>


  <div class="container">
 	
 	<div class="row">
  <br>
  <br>
 		<div class="col-md-6 col-md-offset-3 text-center">

 			<h4>&#8220; Estamos trabajando por un #Hidalgo próspero y con igualdad.&#8221;</h4>
 			<img class="img-circle" width="60px" src="https://pbs.twimg.com/profile_images/782334654363807744/ppcrYnLd_400x400.jpg">
 			<span>Lic Omar Fayad Meneses</span>
 			
 			
<br>
<br>
<br>
 		</div>
 	</div>
 </div>



<script type="text/javascript">
	
	$('.carousel').carousel({
  interval: 5000,
  pause: null
})
</script>