<footer class="footer">
	<div class="row footer_container">
		<div class="col-xs-12 col-sm-12 col-md-3">
			<div class="logo col-sm-offset-1 col-xs-offset-1">
				<img class="logo" src="assets/images/logo_hidalgo.png">
				<div>
					<a href="#"><img src="assets/images/fb_footer.png"></a>
					<a href="#"><img src="assets/images/yt_footer.png"></a>
					<a href="#"><img src="assets/images/tw_footer.png"></a>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-6">
			<center>
				<img src="assets/images/footer_escudo.png">
			</center>
			<p class="col-sm-12">Plaza Júarez s/n Col. Centro
				Pachuca de Soto, Hidalgo, México
				(771) 717-6000
				webhgo@hidalgo.gob.mx</p>
			
		</div>
		
	</div>
	<div>
		<span align="center">Made by Fixter</span>		
	</div>
</footer>