<footer class="footer">
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3">
			<div class="logo">
				<img class="logo" src="assets/images/logo_hidalgo.png">
				<div>
					<a href="#"><img src="assets/images/fb_footer.png"></a>
					<a href="#"><img src="assets/images/yt_footer.png"></a>
					<a href="#"><img src="assets/images/tw_footer.png"></a>
				</div>
			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3">
			<center>
				<img src="assets/images/footer_escudo.png">
			</center>
			<p>Plaza Júarez s/n Col. Centro
				Pachuca de Soto, Hidalgo, México
				(771) 717-6000
				webhgo@hidalgo.gob.mx</p>
			
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
			<h1>Footer</h1>
		</div>
		
	</div>
	<div>
		<span align="center">Made by Fixter</span>		
	</div>
</footer>