<br>
<section class="user_profile row">
    <article class="user_menu_container col-md-3">
        <aside class="user_menu">

            <img class="user_img" ng-src="{{$ctrl.usuario.photoURL}}" alt="profile_img">

            <div class="user_data">
                <p>
                    <strong>{{$ctrl.usuario.displayName}}</strong>
                </p>
                <p>
                    <strong>{{$ctrl.usuario.email}}</strong>
                </p>

            </div>
            <div class="list-group col-md-offset-1">
                <button type="button" class="list-group-item" ng-class="{active:$ctrl.checkTab(1)}" ng-click="$ctrl.panelSetTab(1)">Mis proyectos
                    <span class="badge">{{$ctrl.userProjects.length}}</span>
                </button>
                <button type="button" class="list-group-item" ng-class="{active:$ctrl.checkTab(2)}" ng-click="$ctrl.panelSetTab(2)">Mi Perfil</button>
            </div>
        </aside>
    </article>
    <article class="user_option col-md-9 col-sm-12">

            <div class="contenedor"> 
   
                <div ng-show="$ctrl.checkTab(1)" ng-repeat="project in $ctrl.userProjects" class="well well-sm info row">
                    <img syle="float:left" class="img-mini" src="/assets/images/go.jpg">
                    <h4 style="float:center" class="col-ms-4 en-linea">{{project.fields.title}}</h4>
                    <a style="float:right" class="col-ms-4 col-ms-offset-4 btn btn-primary" href="#/project/{{project.pk}}/details">Completa tu proyecto</a>
                </div>

            </div>

           <!--  <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4">
                <div class="thumbnail efectito_y">
                    <img src="http://visitamexico10.galeon.com/hidl900.jpg" alt="...">
                    <div class="caption">
                        <h3>{{project.fields.title}}</h3>
                        <p ng-model="$ctrl.cuerpon" class="description">
                            {{project.fields.eje}}
                        </p>
                        <p>
                            <a class="btn btn-primary" href="#/project/{{project.pk}}/details">Completa tu proyecto</a>
                        </p>
                    </div>
                </div>
            </div> -->

           
      


        <!-- <div ng-show="$ctrl.checkTab(1)">
            <div class="col-sm-12 col-md-4">
                <div class="thumbnail efectito_y">
                <img src="http://de10.com.mx/sites/default/files/field/image/huejutla.jpg" alt="...">
                <div class="caption">
                    <h3>{{$ctrl.titulon}}</h3>
                    <p ng-model="$ctrl.cuerpon" class="description">
                        {{$ctrl.cuerpon}}
                    </p>
                    <p><a class="btn btn-primary" role="button"
                        data-toggle="modal" data-target="#exampleModal"
                        >Editar mi Proyecto</a></p>
                </div>
                </div>
            </div>
        </div> -->

        <div class="perfil col-md-8" ng-show="$ctrl.checkTab(2)">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Nombre:</span>
                <input disabled type="text" class="border-green form-control" aria-describedby="basic-addon1" placeholder='ejem:... "Juan López"' value="{{$ctrl.usuario.displayName}}">
            </div>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Correo:</span>
                <input type="text" class="border-green form-control" aria-describedby="basic-addon1" placeholder='ejem:... "juan@hotmail.com"' value="{{$ctrl.usuario.email}}">
            </div>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Edad:</span>
                <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder='ejem:... 23'>
            </div>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Ocupación:</span>
                <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder='ejem:... "Abogado"'>
            </div>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Teléfono:</span>
                <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder='ejem:... "7712454545"'>
            </div>

            <button type="button" class="btn btn-success">
                Guardar Perfil</button>

        </div>

    </article>
</section>

<!-- el modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Editar Proyecto</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Imagen:</label>
                        <img style="width:100px;" src="http://de10.com.mx/sites/default/files/field/image/huejutla.jpg" alt="...">
                        <input ng-model="$ctrl.titulon" type="file" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Titulo:</label>
                        <input ng-model="$ctrl.titulon" type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Datos:</label>
                        <textarea ng-model="$ctrl.cuerpon" class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- el modal -->

<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Editar Proyecto</h4>
      </div>
      <div style="text-align:center;" class="modal-body">


        <img src="/assets/images/TROFEO.png">
        <div style="color:blue">
            <h3 style="color:green" >¡Gracias!</h3>
            <h4 style="color:red">Tu idea ya está considerada para</h4>
            <h4 style="color:green">El Plan de Desarrollo Estatal</h4>
        </div>
        <h5>Compartelo en tus redes sociales</h5>

        <button class="btn btn-primary">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            Facebook
        </button>
        <button class="btn btn-info">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            Twitter
        </button>
        <h5>Ahora completa los detalles de tu proyecto:</h5>
        <button data-dismiss="modal" class="btn btn-default">
            Continuar
        </button>



      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"> Guardar Cambios</button>
      </div> -->
</div>
</div>
<br>
</div>
