<section class="cubre">
	<div class="modul">
		<h3>
			Inicia sesión con tus redes sociales
		</h3>
		<div class="divider"></div>
		<button ng-click="$ctrl.logIn()" type="button" class="btn btn-danger btn-lg dropdown-toggle">
			<i class="i fa fa-google" aria-hidden="true"></i>
		    Continuar con Google
		  </button>
		  <button type="button" class="btn btn-primary btn-lg dropdown-toggle">
			<i class="i fa fa-facebook-square" aria-hidden="true"></i>
		    Continuar con Facebook
		  </button>
		  <div class="divider"></div>
		  <h5>
			Inicia sesión con tu correo electrónico
		</h5>
		<input ng-model="$ctrl.email" type="email" placeholder="@ correo electrónico">
		<input ng-model="$ctrl.password" type="password" placeholder="* Contraseña">
		<button type="button" class="btn btn-success btn-lg dropdown-toggle">
			<i class="i fa fa-sign-in" aria-hidden="true"></i>
		    Iniciar Sesión
		  </button>
		  <div class="divider"></div>
		  <p>¿No tienes cuenta?, registrate <a href="#">aquí</a> </p>
			</div>
</section>
