.catalogo_header{
    background-image: url('/assets/images/slider/gobernador.jpeg');
    background-size: cover;
    background-position: 0% 35%;
    height: auto;
    margin-bottom: 3%;
    padding-top: 10vh;
}
.catalogo_header .filter_container .titulo{
    text-align: center;
    color: white;
}
.catalogo .projects_container .description{
    max-height: 100px;
    min-height: 100px;
    height: 100px;
    overflow: scroll;
}
.pagination_container{
    text-align: center;
}
.page{
    cursor: pointer;
}
.img_proyecto-Catalogo{
	max-height: 200px;
	min-height: 200px;
}
.caption .titulo_proyecto-catalago{
    min-height: 55px;
    max-height: 55px;
    overflow: hidden;
}
@media (max-width: 768px){
    .catalogo_header{
        background-position: center;
    }
}