.certificado{
    text-align: center;
}
.certificado .encabezado{
    margin-top: 15%;
    font-size: 25px;
}
.certificado .otorga{
    margin-bottom: 10%;
}
.certificado .reconocimiento{
    font-size: 80px;
    color: #002F52;
}
.certificado .ciudadano{
    font-size: 35px;
    margin: 10% 0;
}
.certificado .participacion{
    font-size: 20px;
    padding: 0 30%;
    margin-bottom: 5%;
}
.certificado .nombre_gobernador{
    display: block;
}
.certificado .fecha{
    text-align: right;
}
.certificado .gobernador{
    margin: 15% 0;
}