.certificado{
    text-align: center;
}
.certificado .img_back{
    position: absolute;
    width: 100%;
    z-index: -9999;
}
.certificado .img_back img{
    width: 100%;
    max-height: 1500px;
}
.certificado .ciudadano{
    font-size: 35px;
    padding-top: 55vh;
}

.certificado .fecha{
    text-align: right;
    padding-top: 31.5vh;
    margin-right: 6%;
}