/*footer*/
.footer{
	/*margin-top: 5%;*/
	background-color: #002F52;
	background-image:url(/assets/images/trama_footer.png);
	background-repeat: no-repeat;
    background-position: right;
	color: #fff;
	text-align: center;
	display: block;
}
.footer .logo{
	width: 80%
}

.footer_container{
	padding-top: 5%;
	margin-right: 0 !important;
}