/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}
		
		/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 3em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

.hero2 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero2 h1 {
    font-size: 4em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.hero3 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero3 h1 {
    font-size: 3em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.hero4 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero4 h1 {
    font-size: 4em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url('http://image.posta.com.mx/sites/default/files/germen-1_0.jpg'); 
}
.fade-carousel .slides .slide-2 {
  background-image: url('http://image.posta.com.mx/sites/default/files/germen-1_0.jpg');
}
.fade-carousel .slides .slide-3 {
  background-image: url('http://image.posta.com.mx/sites/default/files/germen-1_0.jpg');
}
.fade-carousel .slides .slide-4 {
  background-image: url('https://pbs.twimg.com/profile_banners/77372998/1474683872/1500x500');
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}





/* Styles llamada a la accion slider landing page */
.portada{
	width:100%;
	height:100vh;
	background:url('http://image.posta.com.mx/sites/default/files/germen-1_0.jpg') center;
	background-size:cover;

}
@media(max-width: 600px){
	.portada{
		height:400px; 
	}
}

.greenBox{
	height: 100%;
	margin-top: 12%;
	padding-bottom: 12px;
	background-color: rgba(0,0,0,0.6);
	color:white;
}
/*div.greenBox h3{

	color:#fdf;
}
div.greenBox p{

	text-align: justify;
	color:#fdf;
}*/
.greenBox  .btnSliderRojo{

	background-color: #E73C4E !important;
	color: white !important;
}


.carousel-container {
    margin-left:0;
}

.parallax-project{

	width:100%;
	height: 250px;
	background: url("http://www.vetahidalgo.com/news/61.jpg") center center fixed;
	background-size: cover;
	color:#fff;
	vertical-align: middle;
	font-weight: 900;

}
.parallax-project h2{

	padding-top: 100px;
	
}
.iconosLanding i{

	color:#002f52;
}

/*Categorias*/

.categoria{
	background-image: url('/assets/images/go.jpg');
	background-size: cover;
	/*width: 200px;*/
	height: 250px;
	/*margin: 0;*/
	position: relative;
	cursor: pointer;
	border:10px solid white;
	transition:all 0.3s ease;
	overflow: hidden;
}
.categoria:hover{
	/*transform: scaleX(1.1);*/
	transform: scaleY(1.1);
}

.opaco{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.5);
	position: absolute;
	left:0;
	transition:all 0.5s ease;
	text-align: center;
}
.opaco:hover{
	/*background-color: transparent;*/
	background:rgba(255,255,255,0.7);
}
.opaco i{
	margin-top: 80px;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
	font-size: 6rem;

}
.opaco p, i{
	color:white;
	transition:all 0.5s ease;
}
.opaco:hover > p{
	color:black;
}
.opaco:hover > i{
	color:black;
	border-bottom: 1px solid black;
}
.mosaico{
	margin-top: 100px;
	text-align: center;
}
.slides a{

	color: #fff !important;
	border:#fff solid 0px !important;
}

