<section class="certificado container">
    <div class="row">
        <div style="display:flex;justify-content:space-between;margin-top:5%;">
            <div class="col-md-2">
                <img class="img-responsive" style="width:165px;height:131px" src="/assets/images/imagotipo_oficial_vertical_gob_H.jpg" alt="">
            </div>
            <p class="encabezado col-md-6">
                El Gobierno del Estado de Hidalgo
            </p>
            <div class="col-md-2">
                <img class="img-responsive" src="/assets/images/footer_escudo.png" alt="">
            </div>
        </div>

        <p class="encabezado otorga">
            Otorga el presente
        </p>
        <p class="reconocimiento">
            Reconocimiento
        </p>
        <p style="font-size:25px;">a</p>
        <p class="ciudadano">
            C. {{$ctrl.perfil}}
        </p>
        <p class="participacion">
            Por su participación en los foros de consulta para el Plan Estatal de Desarrollo
        </p>
        <p class="gobernador">
            <strong class="nombre_gobernador">Omar Fayad Meneses</strong>
            <small>
                <strong>
                    Gobernador Constitucional del Estado de Hidalgo
                </strong>
            </small>
        </p>
        <p class="fecha">
            Pachuca Hgo., {{$ctrl.fecha | date : "d MMM yyyy"}}
        </p>
    
    </div>
</section>