<section class="catalogo_header row">
    <article class="container filter_container">
        <h2 class="titulo">Explora Propuestas</h2>
        <div class="input-group input-group-lg col-md-4">
            <span class="input-group-addon" id="sizing-addon1">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <input ng-model="searchField" type="text" class="form-control" placeholder="Buscar" aria-describedby="sizing-addon1">
        </div>
    </article>
</section>

<div class="alert alert-info" align="center" ng-hide="$ctrl.items.length > 0">
    <h1>
        <strong>¡Hola!</strong>
        Recuerda que podrás consultar los proyectos una vez completados.</h1>
</div>

<section class="catalogo container">
    <article class="row projects_container">


        <div ng-repeat="project in $ctrl.items | filter:searchField |orderBy:'-pk'">

            <div class="col-xs-12 col-sm-12 col-lg-4 col-md-3">

                <div class="thumbnail efectito_y">
                    <a href="#/catalogo/{{project.pk}}/">
                        <img ng-show="project.fields.imagen" ng-src="{{project.fields.imagen}}" alt="imagen de proyecto" class="img_proyecto-Catalogo">
                        <img ng-hide="project.fields.imagen" ng-src="/assets/images/slider/manos.png" alt="foto  de proyecto" class="img_proyecto-Catalogo">
                    </a>
                    <div class="caption">
                        <h3 class="titulo_proyecto-catalago">{{project.fields.title}}</h3>
                        <p ng-model="$ctrl.cuerpon" class="description">
                            <strong style="display:block;">{{project.fields.eje}}</strong>
                            {{project.fields.objetivo_general}}
                        </p>
                        <p><a class="btn btn-primary" href="#/catalogo/{{project.pk}}/"
                            >Lee este proyecto</a></p>
                    </div>
                </div>


            </div>
         </div>
    </article>
    <div class="pagination_container">
             <nav ng-if="$ctrl.pager.pages.length" aria-label="Page navigation">
                <div class="pagination_container">
                    <ul  class="pagination">
                        <li ng-class="{disabled:$ctrl.pager.currentPage === 1}" class="page">
                            <a ng-click="$ctrl.setPage(1)">Inicio</a>
                        </li>
                        <li ng-class="{disabled:$ctrl.pager.currentPage === 1}" class="page">
                            <a ng-click="$ctrl.setPage($ctrl.pager.currentPage - 1)">Anterior</a>
                        </li>
                        <li ng-repeat="page in $ctrl.pager.pages" ng-class="{active:$ctrl.pager.currentPage === page}" class="page">
                            <a ng-click="$ctrl.setPage(page)">{{page}}</a>
                        </li>
                        <li ng-class="{disabled:$ctrl.pager.currentPage === $ctrl.pager.totalPages}" class="page">
                            <a ng-click="$ctrl.setPage($ctrl.pager.currentPage + 1)">Siguiente</a>
                        </li>
                        <li ng-class="{disabled:$ctrl.pager.currentPage === $ctrl.pager.totalPages}" class="page">
                            <a ng-click="$ctrl.setPage($ctrl.pager.totalPages)">Ultimo</a>
                        </li>
                    </ul>
                </div>
            </nav>
         </div>
</section>
