<section class="container">
    <article class="row">
        <div class="col-md-6 col-sm-6">
            <img class="img-responsive user_img" src="https://www.mexicodesconocido.com.mx/drupal/sites/default/files/styles/adaptive/public/nodes/3245/hidalgo_estado.jpg?itok=iRvfhsKe" alt="img del proyecto">
        </div>
        <div class="col-md-6 col-sm-6">
            <h4>Nombre del proyecto</h4>
            <p>
                <strong style="display:block;">Pequeña descripción:</strong>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Excepturi expedita similique ipsum laboriosam at labore doloremque,
                 beatae, impedit ipsa provident atque, architecto? Non itaque est,
                  voluptatem vel iure rerum beatae.
            </p>
            <div>
                <p>
                    Publicado por: <strong>Nombre de usuario</strong>
                </p>
                <p>
                    Fechas de publicación: <strong>12/08/2016</strong>
                </p>
            </div>
        </div>
        
    </article>
    <article class="row">
        <div class="col-md-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Magni est quod impedit. Itaque similique quae excepturi, 
                 iste eos unde iusto tenetur, impedit dolorem labore fuga. 
                 Illo omnis sapiente non, atque.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Velit ut, provident, perferendis facere minus debitis porro 
                iusto enim voluptatibus consequatur itaque. Ad aliquid, 
                consequuntur! Suscipit adipisci iusto maxime voluptas ipsum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Impedit deserunt ad, dolorum sunt corporis voluptas voluptates,
                 animi velit repudiandae voluptatum dolores ea eius eos. Suscipit,
                  adipisci ipsum iste expedita distinctio.
            </p>
        </div>
        <div class="col-md-8">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                    <img style="width: 80px;" class="media-object" src="assets/images/logo_hidalgo.png" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Culpa excepturi nostrum quae quis debitis maiores facilis consequatur?
                     Aspernatur eum fugit corporis, voluptas eveniet fugiat ut recusandae ad, 
                     velit laboriosam ipsam?
                     <div class="media">
                        <div class="media-left">
                            <a href="#">
                            <img style="width: 80px;" class="media-object" src="assets/images/logo_hidalgo.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Culpa excepturi nostrum quae quis debitis maiores facilis consequatur?
                            Aspernatur eum fugit corporis, voluptas eveniet fugiat ut recusandae ad, 
                            velit laboriosam ipsam?
                        </div>
                    </div>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                    <img style="width: 80px;" class="media-object" src="assets/images/logo_hidalgo.png" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Culpa excepturi nostrum quae quis debitis maiores facilis consequatur?
                     Aspernatur eum fugit corporis, voluptas eveniet fugiat ut recusandae ad, 
                     velit laboriosam ipsam?
                     
                </div>
            </div>
        </div>
    </article>
</section>