<div class="containerm">
    <div class="container2">
        <div class="row">
        <div class="well">
            <h1 align="center">Detalle del Proyecto</h1>
        </div>

        <!-- Barra de Progres
        <h1 class="name">SVG Circle Progress</h1>
        <h2 class="name">Based off of CSS3 circle progress bars</h2>

        <div id="cont" data-pct="100">
            <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
            <circle id="bar" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <label for="percent">Type a percent!</label>
        <input id="percent" name="percent">
        ! Barra de Progres-->

        <hr>
        </div>
        <!-- Título-->
        <div class="container3">     

            <div class="row">         
                <div class="col-xs-6 col-md-3">
                    <h3 class="name">Título</h3>
                    <p>Nombre del proyecto</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-9">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-11">
                                <input width="100%" type="text" class="form-control" placeholder="Título del proyecto">
                            </div>
                        </div>    
                    </div>
                </div>
            </div>

        </div>
        <!-- Eje del proyecto-->
        <div class="container3">     

            <div class="row">         
                <div class="col-xs-6 col-md-3">
                    <h3 class="name">Eje</h3>
                    <p>Escoge un eje</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-9">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-arrows" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-11">
                                <select class="form-control">
                                    <option>Selecciona una opcion</option>                          
                                    <option>Gobierno Honesto Cercano y Moderno</option>
                                    <option>Hidalgo Próspero y Dinámico</option>
                                    <option>Hidalgo Humano e Igualitario</option>
                                    <option>Un Hidalgo Seguro con Justicia y Paz</option>
                                    <option>Un Hidalgo con Desarrollo Sustentable</option>
                                </select>

                            </div>
                        </div>    
                    </div>
                </div>
            </div>

        </div>
        <!-- Imagen del proyecto-->
        <div class="container3">     

            <div class="row">         
                <div class="col-xs-6 col-md-3">
                    <h3 class="name">Imágen</h3>
                    <p>Sube una imágen relacionada</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-9">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-11">
                                <div class="input-group image-preview">
                                    <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                    <span class="input-group-btn">
                                        <!-- image-preview-clear button -->
                                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                            <span class="foldercito glyphicon glyphicon-remove"></span> Borrar
                                        </button>
                                        <!-- image-preview-input -->
                                        <div class="btn btn-default image-preview-input">
                                            <span class="foldercito glyphicon glyphicon-folder-open"></span>
                                            <span class="image-preview-input-title">Buscar</span>
                                            <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> <!-- rename it -->
                                        </div>
                                    </span>
                                </div><!-- /input-group image-preview [TO HERE]-->
                            </div>
                        </div>    
                    </div>
                </div>
            </div>

        </div>
                <!-- Objetivos estratégicos-->
        <div class="container3">     

            <div class="row">         
                <div class="col-xs-6 col-md-3">
                    <h3 class="name">Objetivo Estratégico</h3>
                    <p>Objetivos estratégicos del proyecto</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-9">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-11">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>

        </div>
         <!-- Linea estr-->
        <div class="container3">     

            <div class="row">         
                <div class="col-xs-6 col-md-3">
                    <h3 class="name">Línea Estratégica</h3>
                    <p>Línea estratégica de acción</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-9">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-11">
                                <input width="100%" type="text" class="form-control" placeholder="Línea Estratégica">
                            </div>
                        </div>    
                    </div>
                </div>
            </div>

        </div>
                <!-- Objetivo General-->
        <div class="container3">     

            <div class="row">         
                <div class="col-xs-6 col-md-3">
                    <h3 class="name">Objetivo General</h3>
                    <p>Objetivo General del Proyecto a revisar</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-9">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-flag" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-11">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>

        </div>
        <!-- Indicador estratégico-->
        <div class="container3">     

            <div class="row">         
                <div class="col-xs-6 col-md-3">
                    <h3 class="name">Indicador Estratégico</h3>
                    <p>Línea estratégica de acción</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-9">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-check-square" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-11">
                                <select class="form-control" >
                                    <option value="">Selecciona una opción</option>
                                    <option  value='Tasa de Prevalencia de Corrupción (INEGI)'>Tasa de Prevalencia de Corrupción (INEGI)</option>
                                    <option  value='Proporción de la población que se sintió satisfecha o muy satisfecha en la realización de trámites y solicitudes de servicios con alguna dependencia estatal (INEGI)'>Proporción de la población que se sintió satisfecha o muy satisfecha en la realización de trámites y solicitudes de servicios con alguna dependencia estatal (INEGI)</option>
                                    <option  value='Porcentaje de trámites y servicios públicos del tipo transaccional que se ofrecen en línea en la Administración Pública Estatal (INEGI)'>Porcentaje de trámites y servicios públicos del tipo transaccional que se ofrecen en línea en la Administración Pública Estatal (INEGI)</option>
                                    <option value='Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)'>Porcentaje de población en condición de pobreza</option>
                                    <option value='Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)'>Porcentaje de población con carencia por acceso a los servicios de salud</option>
                                    <option value='Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)'>Porcentaje de población con carencia por rezago educativo</option>
                                    <option value='Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)'>Porcentaje de población con carencia por calidad y espacios de la vivienda</option>
                                    <option value='Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)'>Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)</option>
                                    <option value='Proporción de alumnos en el nivel insuficiente  de competencias matemáticas y de comprensión lectora para sexto  grado de primaria y tercer año de secundaria'>Proporción de alumnos en el nivel insuficiente  de competencias matemáticas y de comprensión lectora para sexto  grado de primaria y tercer año de secundaria</option>
                                    <option value='Tasa de informalidad laboral'>Tasa de informalidad laboral</option>
                                    <option value='Tasa de personas de 18 años y más que considera inseguro su municipio '>Tasa de personas de 18 años y más que considera inseguro su municipio </option>
                                    <option  value='Tasa de prevalencia delictiva'>Tasa de prevalencia delictiva</option>
                                    <option  value='Tasa de crecimiento anual del PIB per cápita (INEGI)'>Tasa de crecimiento anual del PIB per cápita (INEGI)</option>
                                    <option  value='Porcentaje de hogares con conectividad a internet (INEGI)'>Porcentaje de hogares con conectividad a internet (INEGI)</option>
                                    <option  value='Porcentaje de Usuarios con acceso a internet en el Estado de Hidalgo (INEGI)'>Porcentaje de Usuarios con acceso a internet en el Estado de Hidalgo (INEGI)</option>
                                    <option  value='Unidades Económicas del Sector Privado y Paraestatal que efectuaron actividades de innovación en el Estado de Hidalgo (INEGI)'>Unidades Económicas del Sector Privado y Paraestatal que efectuaron actividades de innovación en el Estado de Hidalgo (INEGI)</option>
                                    <option value='Volumen tratado de aguas residuales'>Volumen tratado de aguas residuales</option>
                                    <option value='Superficie de áreas naturales con acciones de conservación y/o aprovechamiento de competencia federal, estatal y municipal (INEGI)'>Superficie de áreas naturales con acciones de conservación y/o aprovechamiento de competencia federal, estatal y municipal (INEGI)</option>
                                    <option value='Porcentaje de Residuos Sólidos Urbanos (RSU) y de Manejo Especial (RME) con manejo adecuado (INEGI)'>* Porcentaje de Residuos Sólidos Urbanos (RSU) y de Manejo Especial (RME) con manejo adecuado (INEGI)</option>
                                </select>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>

        </div>
        <!-- Prgrama de asociados-->
        <div class="container3">     

            <div class="row">         
                <div class="col-xs-6 col-md-3">
                    <h3 class="name">Programas Asociados</h3>
                    <p>Escribe los programas de gestión que pueda incluir</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-9">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-11">
                               <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>

        </div>
        <!-- Indicadores de Gestón-->
        <div class="container3">     

            <div class="row">         
                <div class="col-xs-6 col-md-3">
                    <h3 class="name">Indicadores de Gestión</h3>
                    <p>Escribe los Indicadores de Gestión</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-9">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-11">
                               <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>




